body {
  margin: 0px;
  background-image: url("images/room-interior-architecture-space-indoor-concept.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 10px;
}
.container h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-style: italic;
}

.input-area input {
  width: 40rem;
  margin-right: 5px;
  border: 1px solid lightsalmon;
}
.input-area input:focus {
  outline: none;
}
.input-area button {
  background-color: lightsalmon;
  border: none;
}

.task-area {
  border: 1px solid lightgray;
  margin-top: 1em;
}
.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
}
#under-line {
  height: 4px;
  background-color: rgb(53, 205, 50);
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  padding: 0px;
  transition: 0.5s;
}
.task-tabs div {
  padding: 1em;
}
.task-item {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid lightgray;
}
.task-complete {
  text-decoration: line-through;
}
.task-button {
  margin-right: 50px;
  font-size: 1.5em;
}
.check-button {
  color: rgb(0, 200, 7);
}
.delete-button {
  color: rgb(214, 0, 0);
}
.return-button {
  color: rgb(100, 100, 100);
}
.task-item-complete {
  background-color: lightgray;
  transition: 0.5s;
}
.task-tabs div {
  cursor: pointer;
}

@media(max-width: 1000px) {
  .input-area input {
    width: 30rem;
  }
}
@media(max-width: 800px) {
  .input-area input {
    width: 20rem;
  }
}
@media(max-width: 400px) {
  .input-area input {
    width: 15rem;
  }
}
@media(max-width: 300px) {
  .input-area input {
    width: 10rem;
  }
}